<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PersonalCenterEntities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PersonalCenterDB;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--数据存储类型，"Filesystem"为文件存储，"Database"为数据库存储-->
    <add key="DBType" value="Filesystem"/>
  </appSettings>
</configuration>
